@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/components.css"]' />
    @* Theme Switcher：需预加载各主题 CSS，切换时仅改 html 上的 class *@
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/zinc.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/slate.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/gray.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/neutral.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/stone.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/mist.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/mauve.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/taupe.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/base/olive.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/red.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/rose.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/orange.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/amber.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/yellow.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/lime.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/green.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/emerald.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/teal.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/cyan.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/sky.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/blue.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/indigo.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/violet.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/purple.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/fuchsia.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoUI.Blazor/css/themes/primary/pink.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoAdmin.Blazor/app.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoAdmin.Blazor/css/layout-shell.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoAdmin.Blazor/css/dialog-max-width.css"]' />
    <link rel='stylesheet' href='@Assets["_content/NeoAdmin.Blazor/css/dialog-scroll.css"]' />
    @* DataGrid（AG Grid）依赖 ES module import map，见 https://demos.neoui.io/components/datagrid *@
    <ImportMap />
    <DataGridImportMap />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>
<body>
    <NeoAdminApp.Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />

    <script src='@Assets["_content/NeoAdmin.Blazor/js/auth.js"]'></script>
    <script src='@Assets["_content/NeoUI.Blazor/js/theme.js"]'></script>
    <script src='@Assets["_content/NeoUI.Blazor/js/chart-theme.js"]' type="module"></script>
    <script src='@Assets["_content/NeoUI.Blazor/js/echarts-renderer.js"]' type="module"></script>
    <script src='@Assets["_content/NeoUI.Blazor/js/motion-one.min.js"]'></script>
    <script src='@Assets["_framework/blazor.web.js"]'></script>
</body>
</html>
